<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body> 
    
    <div id="flipbook">
      <div class="hard center" id='cover'> 
        <h1>Picture Book</h1>
        <img src='https://360completeliving.com/wp-content/uploads/2014/11/unhealthy-food.jpg' alt='food'>
      </div> 
      <div class='hard'> Page 1 </div>
      <div class='hard'> Page 2 </div>
      <div class='hard'> Page 3 </div>
    </div>
    
  </body>
</html>