<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body> 
    
    <h1>sdfkjsndfljnwerpuifnerwiufn2349hr3984j8234hgiherbngui42</h1>
    
  </body>
</html>